.card{
    background: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 12px;
    min-width: 400px;
}
@media(max-width: 400px) {
    .card{
        min-width: auto;
    }
}
.card .person-name{
    font-size: 24px;
    font-weight: 900;
}
.person-parameters{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.person-parameters p{
    padding: 5px;
    background: rgb(41, 40, 40);
    border-radius: 12px;
}