@font-face {
  font-family: 'StarJedi';
  src: url('./assets/starjedi_cyrillic.otf');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  min-height: 100vh;
  background: rgb(41, 40, 40);

}

